<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<body>
    <div class="current-page" layout:fragment="content">
        <main>
            <nav class="z-depth-0">
                <div class="nav-wrapper white">
                    <ul id="slide-out" class="side-nav">
                        <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                        <li><a href="#!"><i class="material-icons">notifications</i>Notificações</a></li>
                        <li><a href="#!"><i class="material-icons">live_help</i>Ajuda</a></li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons grey-text darken-4">menu</i></a>
                    <ul class="right">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-button' href='#' data-activates='account-menu'><i class="material-icons  grey-text darken-4">more_vert</i></a>

                        <!-- Dropdown Structure -->
                        <ul id='account-menu' class='dropdown-content'>
                            <li>
                                <form th:action="@{/logout}" method="POST">
                                    <button type="submit" style="border:none;background:transparent;margin-left:10px">
                                        <i class="material-icons">exit_to_app</i>Sair
                                    </button>
                                </form>
                            </li>
                            <li><a href="#!" style="color:rgba(0, 0, 0, 0.87)"><i class="material-icons">palette</i>Conta</a></li>
                        </ul>
                    </ul>
                </div>
            </nav>
            <div class="container animated fadeIn">

                <div class="row">
                    <form class="col s12" id="new-task" method="POST" action="new-task">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">label</i>
                                <input name="name" id="input_text" type="text" data-length="30">
                                <label for="input_text">Nome</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea name="description" id="icon_prefix2" class="materialize-textarea" data-length="120"></textarea>
                                <label for="icon_prefix2">Descrição</label>
                            </div>
                        </div>
                        <p>
                            <input name="finished" type="checkbox" id="finished" />
                            <label for="finished">Finished</label>
                        </p>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar tarefa
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
                <div class="fixed-action-btn horizontal">
                    <a class="btn-floating btn-large yellow darken-3">
                        <i class="large material-icons">assignment_turned_in</i>
                    </a>
                    <ul>
                        <li>
                            <a href="#" class="btn-floating red tooltipped" data-position="top" data-tooltip="Pesquisar por uma tarefa">
                                <i class="material-icons">search</i>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="btn-floating yellow darken-1 tooltipped" data-position="top" data-tooltip="Home">
                                <i class="material-icons">home</i>
                            </a>
                        </li>
                        <li>
                            <a href="/tasks" class="btn-floating green tooltipped" data-position="top" data-tooltip="Visualizar todas as tarefas">
                                <i class="material-icons">playlist_add_check</i>
                            </a>
                        </li>
                        <li>
                            <a href="/new-task" class="btn-floating blue tooltipped" data-position="top" data-tooltip="Adicionar uma tarefa">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <!--/.container-->
        </main>
    </div> <!--/.current-page-->

</body>
</html>
